[class*=toon_tb_]{
	background-repeat: no-repeat;
	background-position: left center;
	padding: 2px 0 4px 21px;
	min-height: 16px;
}

.toon_tb_dev{
	background-image: url("chrome-extension://__MSG_@@extension_id__/icon16.png");
}

.toon_tb_dev:after{
	content: "Toonbook Buddy Developer";
	margin-left: 5px;
	padding: 1px 4px 1px 1px;
	font-family: Consolas;
	color: white;
	background-color: #1DADFF;
}

.toon_tb_shade{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/bat16.ico");
}

.toon_tb_shade span{
	color: gray !important;
	text-shadow: 0px 1px 1px gray !important;
}

.toon_tb_ruff{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/chinesefood16.png");
}

.toon_tb_blast{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/cat16.png");
	color: #00616F !important;
	text-shadow: 0px 1px 1px #00616F !important;
}

.toon_tb_nicebear{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/heart16.ico");
}

.toon_tb_homestar{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/thing16.png");
}

.toon_tb_kom{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/snowflake16.png");
}

.tb_xmas_logo{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/xmas_logo.png");
	width: 104px;
	height: 31px;
}

.toon_tb_caz{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/catpaw16.png");
	color: #380814 !important;
	text-shadow: 0px 1px 1px #380814 !important;
}

.toon_tb_mozart{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/bowser16.png");
	color: red !important;
	text-shadow: 0px 1px 1px red !important;
}

.toon_tb_drlollipop{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/cards16.png");
	color: seagreen !important;
	text-shadow: 0px 1px 1px seagreen !important;
}

.toon_tb_rufftime{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/paw16.png");
	color: green !important;
	text-shadow: 0px 1px 1px green !important;
}

.toon_tb_doggo{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/block16.png");
	color: orange !important;
	text-shadow: 0px 1px 1px orange !important;
}

.toon_tb_procat{
	background-image: url("chrome-extension://__MSG_@@extension_id__/static/img/procat16.gif");
	color: green !important;
	text-shadow: 0px 1px 1px green !important;
}

.sa-button-container .confirm{
	position: relative;
	left: 100%;
}
